:root {
  --text-base-color: #4a3625;
  --text-pale-color: #966942;
  --text-link-color: #a76f4d;
  --text-link-color-hover: #c29269;
  --background-color: #fffae6;
  --bottun-color: #f8e6c2;
  --bottun-color-hover:#fcf1db;
  --color-red: #e63946;
  --border-color: #6a5137;
  --color-pink: #ea9999;
  --color-jam: #ef767a;
}
  .yusei-magic-regular {
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  body,html {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    background-color: var(--background-color);
    font-size:16px;
    color:var(--text-base-color);
    width: 100vw;
    overflow-x: hidden;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .with-nav{
    padding-top: 0px;
  }

  /*--------------------------------色セット----------------------------*/
  .base-color{
    color: var(--text-base-color);
  }
  .pale-color{
    color: var(--text-pale-color);
  }

  .link-color{
    color: var(--text-link-color);
  }

  .link-color-hover{
    color: var(--text-link-color-hover);
  }

  a {
    color: var(--text-link-color);
    text-decoration: none;
  }
  a:hover{
    color: var(--text-link-color-hover); 
  }
  .red{
    color: var(--color-red)
  }
  .bottun-back{
    color: var(--bottun-color);
  }

  .bottun-back-hover{
    color:var(--bottun-color-hover);
  }
  /*--------------------------------枠線セット----------------------------*/
  .borderT {
    border-top: 1px solid var(--border-color);
    padding-top: 0.5rem;
  }
  .borderB {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.5rem;
  }
  .borderL {
    border-left: 1px solid var(--border-color);
    padding-left: 0.5rem;
  }
  .borderR {
    border-right: 1px solid var(--border-color);
    padding-right: 0.5rem; 
  }
  .border {
    border: 1px solid var(--border-color);
    padding: 0.5rem;
  }
  /*--------------------------------はちみつ枠----------------------------*/
  .honey-drip-box {
    position: relative;
    border-radius: 1rem;
    background-color: var(--bottun-color);
    margin: 20px 0;
    overflow: hidden;
  }
  
      .honey-drip-box::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 45' preserveAspectRatio='none'><path d='M0 40 C 40 -20, 80 60, 120 0 S 200 40, 260 10 S 340 60, 400 0 S 460 50, 500 40 V0 H0 Z' fill='%23f9d276'/></svg>") no-repeat;
        background-size: cover;
        z-index: 1;
        pointer-events: none;
      }
      
      .honey-drip-text{
        position: relative;
        z-index: 10;
      }



  /*--------------------------------最初アニメーション----------------------------*/
.char {
  display: inline-block;
  opacity: 0;
  transform: translateY(100%);
  animation: fadeInUp 0.5s forwards;
}


.char.last {
  color: var(--color-red);
  transform: scale(4);
  animation: zoomIn 1s forwards;
}

.char:nth-child(n) {
  animation-delay: calc(var(--i) * 0.1s);
}

.animation-overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.animation-overlay.hidden {
  display: none;
}

.blur-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  z-index: 1;
  animation: blurFade 1s forwards 4s;
}

.bg-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bottun-color);
  z-index: 2;
  animation: slideOut 1s forwards 3s;
}

.animation-overlay h1 {
  z-index: 3;
  font-size: 4rem;
  color: var(--text-base-color);
  animation: Fadeout 1s forwards 2.5s;
}


/* キーフレーム */
@keyframes fadeInUp {
  80% {
    transform: translateY(-20%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideOut {
  60% {
    transform: translateX(80%);
  }
  100%{
    transform: translateX(100%);
  }
}

@keyframes blurFade {
  to {
    backdrop-filter: blur(0px);
  }
}
@keyframes Fadeout {
  to {
    opacity: 0;
  }
}

  /*--------------------------------ボタン----------------------------*/
  .bottun{
    background-color: var(--bottun-color);
    margin-left:1rem;
    border-radius: 1rem;
    padding: 0.5rem 3rem;
    font-weight: bold;
    box-shadow: 5px 5px 5px var(--border-color);
  }
  .bottun:hover{
    box-shadow: none;
    background-color: var(--bottun-color-hover);
  }
  
    /*--------------------------------position----------------------------*/
  .relative {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
  }

  .center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }



    /*--------------------------------テキスト装飾(カラフルアニメーション)----------------------------*/
    .neon-glow {
      animation: neonGlowColorCycle 5s infinite alternate;
    }
  
    .neon-hover:hover {
      animation: neonGlowColorCycle 5s infinite alternate;
    }
  @keyframes neonGlowColorCycle {
    0% {
      text-shadow: 0 0 10px #ff0000, 0 0 20px #ff7300, 0 0 30px #ff9900;
    }
    25% {
      text-shadow: 0 0 10px #ff00ff, 0 0 20px #7300ff, 0 0 30px #9900ff;
    }
    50% {
      text-shadow: 0 0 10px #00ffff, 0 0 20px #00ff73, 0 0 30px #00ff99;
    }
    75% {
      text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff7300, 0 0 30px #ff0000;
    }
    100% {
      text-shadow: 0 0 10px #ff0000, 0 0 20px #ff7300, 0 0 30px #ff9900;
    }
  }
/*--------------------------------テキスト装飾(ホバーアニメーション1)----------------------------*/
.pop-text span {
  display: inline-block;
  transform: translateY(0);
  opacity: 1;
}

.pop-text:hover span {
  animation: upThenDown 0.8s ease-in-out forwards;
}

@keyframes upThenDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    transform: translateY(100%);
    opacity: 0;
  }
  90% {
    transform: translateY(-20%);
    opacity: 1;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}
  

    /*--------------------------------navbar----------------------------*/
  .navbar {
    position: fixed;
    top: 0;                  
    left: 0;
    width: 100%;             
    z-index: 2;           
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    margin-left:1rem;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .site-name {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    flex-direction:row;
    align-items: center;
    column-gap: 2rem; 
    list-style: none;
    padding: 2rem;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .hamburger-menu {
    background-color: var(--background-color);       
    border: 3px solid var(--text-link-color);            
    border-radius: 50%;                 
    cursor: pointer;
    box-shadow: 0 4px 6px  var(--border-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    align-items: center;
    justify-content: center;
    display: none;
    margin-top: 2rem;
    margin-right: 3rem;
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
  }

  .hamburger-menu:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px var(--border-color);
  }

/*--------------------------------Footer,Link----------------------------*/
  .link-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .page-links ul, .social-links ul {
    display: flex;
    align-items: center;
    column-gap: 2rem; 
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
    height: 100%;
    width: 100%;
    font-size: 2rem;
  }
  .page-links ul{
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }

  .social-links ul {
    text-align: right;
    margin-right: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .scroll-to-top {
    background-color: transparent;       
    font-size: 1.5rem;
    border: 3px solid var(--text-link-color);            
    border-radius: 50%;                  
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px var(--border-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
  }
  
  .scroll-to-top:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px var(--border-color);
  }
    /*--------------------------------NotFound----------------------------*/
  .not-found-container {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    /*--------------------------------HomeA(title)----------------------------*/

  .yet{
    display: none;
  }

  .homeA{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
  }

  .homeA-sep1{
    text-align: center;
    font-size: 2rem;
    margin: auto 25% auto 0;
    width: 60vw;
  }
  .homeA-sep2{
    text-align: center;
    margin: auto;
    width: 40vw;
    overflow: hidden;
  }

  .leaf{
    width: 200%;
    animation:circle 60s reverse linear infinite;
    transform: rotateX(0);
  }

  @keyframes circle{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

    /*--------------------------------HomeB(about)----------------------------*/
    .homeB{
      position: relative;
      display: flex;
      width: 100%;
      height: 70vh;
      padding-bottom: 2rem;
    }

        .homeB-container {
          position: relative;
          display: flex;
          flex-direction: column; /* タイトルとコンテンツを縦並びに */
          width: 90%;
          height: 100%;
          margin: auto;
          border: 2px solid var(--border-color);
          border-radius: 1rem;
        }


        .homeB-container-title{
          position: relative;
          width: 98%;
          height: 10%;
          font-size: 1.5rem;
          margin:auto;
          display: flex;
          align-items: flex-start ;
          padding: 0;
        }
            .homeB-container-title h1 {
              margin-top: 0;
              line-height: 1;    
            }


        .homeB-container-content {
          display: flex; /* 横並びに */
          height: 90%;
          width: 100%;
        }

            .homeB-container-sep1{
              display: flex;
              justify-content: center;
              align-items: center;     
              flex-direction: column;
              margin:auto auto 0 auto;
              width: 50%;
              height: 100%;
              font-size: 1.5rem;
            }

                .asaka{
                  aspect-ratio: 1 / 1;  /* 正方形にする */
                  max-width: min(40%,50vh); 
                  border-radius: 50%;
                  border: 5px solid var(--bottun-color);
                }

            .homeB-container-sep2{
              display: flex;
              margin:auto;
              margin-right: 0;
              width: 40%;
              height: 90%;
              flex-direction: column;
              overflow-y: auto;
              background-color: var(--bottun-color-hover);
              border-radius: 1rem;
            }

                .homeB-container-sep2 h3{
                  margin-top: 0;
                  margin-left:2rem;
                  margin-bottom: 0.5rem;
                  line-height: 1;
                }
                .homeB-container-sep2 h2{
                  margin-left:1rem;
                  line-height: 1;
                }

                .homeB-container-sep2::-webkit-scrollbar {
                  display: none;
                }

                .scroll-it{
                  position:relative;
                  flex-direction: column;
                  writing-mode: vertical-rl;
                  margin:auto auto auto 0;
                  padding: 0;
                  line-height: 1;
                  animation:disc-opacity 2s ease-in-out alternate infinite;
                }

                @keyframes disc-opacity {
                  from {opacity: 1;}
                  to {opacity: 0;}
                }


    .homeC{
      position: relative;
      display: flex;
      width: 100%;
      height: 30vh;
      margin: auto;
      padding-bottom: 2rem;
    }


        .jam-drip-box {
          position: relative;
          border-radius: 1rem;
          background-color: var(--bottun-color);
          margin:auto;
          border: 2px solid var(--border-color); 
          width: 90%;
          height: 100%;
          overflow-y: auto;
        }
            .jam-drip-box::-webkit-scrollbar {
              display: none;
            }
            
            .jam-drip-box::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 80' preserveAspectRatio='none'><path d='M0,0 V40 Q30,60 50,40 T100,40 Q120,65 140,40 T190,40 Q210,70 230,40 T280,40 Q300,75 320,40 T370,40 Q390,68 410,40 T460,40 Q480,63 500,40 V0 Z' fill='%23ef767a'/></svg>") no-repeat;
              background-size: cover;
              z-index: 1;
              pointer-events: none;
            }

            
            .jam-drip-text {
              position: relative;
              font-size: 1rem;
              z-index: 10;
              margin:0;
              color: var(--text-base-color);
            }

  .homeParty{
    grid-row: 4/5;
	  grid-column: 1/4;
  }

  .homePartybar {
    font-size: 2rem;
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
    margin-right:20px;
    height: 100%;
  }



  
    /*--------------------------------リンク隠し----------------------------*/
  .a-non {
    color: inherit;
    text-decoration: none;
    border: none;
    padding: 0;
  }
  .a-non:hover {
    color: inherit;
  }

    /*--------------------------------IFrame----------------------------*/
  .Iframe {
    text-align: center;
    height: 100vh;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));  /* 最大2列 */
  gap: 1rem;  /* ボタン同士の間隔 */
  text-align: center;    
}

.site-button {
  padding: 1vw 2rem;         
  font-size: 2rem;            
  font-family: "Yusei Magic";
  background-color: var(--bottun-color);
  border: none;
  border-radius: 1vw;      
  cursor: pointer;
  transition: background-color 0.3s;
  width: 90%;    
  height : 100%;        
  margin: 0 auto;       
  text-align: left;
  white-space: nowrap;
}

.site-button:hover {
  background-color: var(--bottun-color-hover);
}

.button-username {
  font-size :1rem;
  white-space: nowrap;
  position: relative;
  right: 0; 
  opacity: 0;
  transition: all 0.5s ease; 
}

.site-button:hover .button-username {
  right: -2rem; 
  opacity: 1;
}



/*TopPage リンク*/
.linkContainer {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.imageWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}

.imageWrapper:not(.active) {
  opacity: 0;
  pointer-events: none;
}

.linkImage {
  object-fit: cover;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.hoverOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlayText {
  color: white;
  transition:opacity 0.3s ease-in-out;
  opacity: 0;
}

.imageWrapper:hover .linkImage {
  filter: brightness(0.7);
}


.imageWrapper:hover .hoverOverlay {
  opacity: 1;
}

.imageWrapper:hover .overlayText {
  opacity: 1;
}

.imageWrapper:hover .siteText{
  opacity:0;
}

.linkImage {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* ナビゲーションボタン */
.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px 5px;
  cursor: pointer;
  font-size: 18px;
  z-index:3;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}
.siteText{
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .snsId {
    position: absolute;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 0.5s ease;
    right: 30rem;
  }
  
  
  .twitter:hover .snsId,
  .instagram:hover .snsId,
  .github:hover .snsId  {
    right: 12rem;
    opacity: 1;
  }
}

.window {
  width: 150px;
  height: 100px;
  background-color: #ffffffcc;
  border: 1px solid #ccc;
  border-radius: 12px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
}





/* レスポンシブ対応 */
@media (max-width: 768px) {
  body,html {
    font-size:12px
  }
  .nav-links {
    padding-top: 0rem;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    flex-direction: column;
    position: absolute;
    top: 6rem;
    right: 10%;
    width: 30%;
    z-index:15;
    opacity:0;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
  }

  .nav-links.open {
    display: flex;
    opacity: 1.0;
    pointer-events: auto;
  }

  .hamburger-menu {
    display: flex;
  }

  .button-container {
    grid-template-columns: 1fr;
    height : 40vh;    
  }

  .link-section {
    flex-direction: column;
    align-items: center;
  }

  .snsId {
    display: flex;
    font-size: 1.5rem;
    white-space: nowrap;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
    align-items: center;
    left:50vw;
    text-align: center;
    transform: translate(-50%,3rem);
    pointer-events: none;
  }

  .twitter:hover .snsId,
  .instagram:hover .snsId,
  .github:hover .snsId  {
    opacity: 1;
    transform: translate(-50%,2rem);
  }

}

@media (max-width: 425px) {

}