  .yusei-magic-regular {
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  body,html {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    background-color: #fffae6;
    font-size:16px;
    color:#4a3625;
  }

  .with-nav{
    padding-top: 60px;
  }

  /*--------------------------------色セット----------------------------*/
  .base-color{
    color: #4a3625;
  }
  .pale-color{
    color:#7a5f48;
  }

  .link-color{
    color: #a76f4d;
  }

  .link-color-hover{
    color: #c29269;
  }

  a {
    color: #a76f4d;
    text-decoration: none;
  }
  a:hover{
    color: #c29269; 
  }
  .red{
    color: #e63946
  }
  .bottun-back{
    color: #f8e6c2;
  }

  .bottun-back-hover{
    color:#fcf1db;
  }
  /*--------------------------------枠線セット----------------------------*/
  .borderT {
    border-top: 1px solid #6a5137;
    padding-top: 0.5rem;
  }
  .borderB {
    border-bottom: 1px solid #6a5137;
    padding-bottom: 0.5rem;
  }
  .borderL {
    border-left: 1px solid #6a5137;
    padding-left: 0.5rem;
  }
  .borderR {
    border-right: 1px solid #6a5137;
    padding-right: 0.5rem;
  }
  .border {
    border: 1px solid #6a5137;
    padding: 0.5rem;
  }
  /*--------------------------------はちみつ枠----------------------------*/
  .honey-drip-box {
    position: relative;
    border-radius: 1rem;
    background-color: #f8e6c2;
    margin: 20px 0;
    overflow: hidden; /* はちみつをはみ出して見せるため必要！ */
  }
  
  .honey-drip-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 45' preserveAspectRatio='none'><path d='M0 40 C 40 -20, 80 60, 120 0 S 200 40, 260 10 S 340 60, 400 0 S 460 50, 500 40 V0 H0 Z' fill='%23f9d276'/></svg>") no-repeat;
    background-size: cover;
    z-index: 1;
    pointer-events: none;
  }
  
  .honey-drip-text{
    position: relative;
    z-index: 10;
  }

  /*--------------------------------ボタン----------------------------*/
  .bottun{
    background-color: #f8e6c2;
    margin-left:1rem;
    border-radius: 1rem;
    padding: 0.5rem 3rem;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgb(106, 81, 55);
  }
  .bottun:hover{
    box-shadow: none;
    background-color: #fcf1db;
  }
  
    /*--------------------------------position----------------------------*/
  .relative {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
  }

  .center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }



    /*--------------------------------カラフル枠----------------------------*/
  @keyframes neonGlowColorCycle {
    0% {
      text-shadow: 0 0 10px #ff0000, 0 0 20px #ff7300, 0 0 30px #ff9900;
    }
    25% {
      text-shadow: 0 0 10px #ff00ff, 0 0 20px #7300ff, 0 0 30px #9900ff;
    }
    50% {
      text-shadow: 0 0 10px #00ffff, 0 0 20px #00ff73, 0 0 30px #00ff99;
    }
    75% {
      text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff7300, 0 0 30px #ff0000;
    }
    100% {
      text-shadow: 0 0 10px #ff0000, 0 0 20px #ff7300, 0 0 30px #ff9900;
    }
  }

  .neon-glow {
    animation: neonGlowColorCycle 5s infinite alternate;
  }

  .neon-hover:hover {
    animation: neonGlowColorCycle 5s infinite alternate;
  }

    /*--------------------------------navbar----------------------------*/
  .navbar {
    position: fixed;
    top: 0;                  
    left: 0;
    width: 100%;             
    z-index: 1000;           
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    margin-left:1rem;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .site-name {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .site-name:hover {
    animation: neonGlowColorCycle 5s infinite alternate;
  }
  
  .nav-links {
    display: flex;
    flex-direction:row;
    align-items: center;
    column-gap: 2rem; 
    list-style: none;
    padding: 2rem;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }


  .hamburger-menu {
    background-color: transparent;       
    border: 3px solid #a76f4d;            
    border-radius: 50%;                 
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    align-items: center;
    justify-content: center;
    display: none;
    margin-top: 2rem;
    margin-right: 3rem;
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
  }

  .hamburger-menu:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }

/*--------------------------------Footer,Link----------------------------*/
  .link-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .page-links ul, .social-links ul {
    display: flex;
    align-items: center;
    column-gap: 2rem; 
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
    height: 100%;
    width: 100%;
    font-size: 2rem;
  }
  .page-links ul{
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }

  .social-links ul {
    text-align: right;
    margin-right: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .scroll-to-top {
    background-color: transparent;       
    font-size: 1.5rem;
    border: 3px solid #a76f4d;            
    border-radius: 50%;                  
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
  }
  
  .scroll-to-top:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
    /*--------------------------------NotFound----------------------------*/
  .not-found-container {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    /*--------------------------------Home----------------------------*/
  .home{
    display: grid;
    grid-template-rows: 40vh 30vh 20vh 10vh; /*縦*/
    grid-template-columns: 1fr 1fr 1fr; /*横*/
  }
  .homeA{
    
    grid-row: 1/3 ;
	  grid-column: 1/2 ;
  }

  .homeD{
    grid-row: 3/4 ;
	  grid-column: 1/2 ;
    margin-left:10px;
  }

  .homeB{
    grid-row: 1/2;
	  grid-column: 2/3 ;
  }

  .homeC{
    grid-row: 2/4;
	  grid-column: 2/3 ;
  }

  .homeE{
    grid-row: 1/4 ;
	  grid-column: 3/4 ;
  }

  .homeParty{
    grid-row: 4/5;
	  grid-column: 1/4;
  }

  .homePartybar {
    font-size: 2rem;
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
    margin-right:20px;
    height: 100%;
  }



  
    /*--------------------------------リンク隠し----------------------------*/
  .a-non {
    color: inherit;
    text-decoration: none;
    border: none;
    padding: 0;
  }
  .a-non:hover {
    color: inherit;
  }

    /*--------------------------------IFrame----------------------------*/
  .Iframe {
    text-align: center;
    height: 100vh;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));  /* 最大2列 */
  gap: 1rem;  /* ボタン同士の間隔 */
  text-align: center;    
}

.site-button {
  padding: 1vw 2rem;         
  font-size: 2rem;            
  font-family: "Yusei Magic";
  background-color: #f8e6c2;
  border: none;
  border-radius: 1vw;      
  cursor: pointer;
  transition: background-color 0.3s;
  width: 90%;    
  height : 100%;        
  margin: 0 auto;       
  text-align: left;
  white-space: nowrap;
}

.site-button:hover {
  background-color: #fcf1db;
}

.button-username {
  font-size :1rem;
  white-space: nowrap;
  position: relative;
  right: 0; /* 初期位置：ボタンの左側に隠す */
  opacity: 0;
  transition: all 0.5s ease; /* アニメーションのスムーズな動き */
}

.site-button:hover .button-username {
  right: -2rem; /* ボタン内に滑り込む位置 */
  opacity: 1;
}



/*TopPage リンク*/
.linkContainer {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.imageWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}

.imageWrapper:not(.active) {
  opacity: 0;
  pointer-events: none;
}

.linkImage {
  object-fit: cover;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.hoverOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlayText {
  color: white;
  transition:opacity 0.3s ease-in-out;
  opacity: 0;
}

.imageWrapper:hover .linkImage {
  filter: brightness(0.7);
}


.imageWrapper:hover .hoverOverlay {
  opacity: 1;
}

.imageWrapper:hover .overlayText {
  opacity: 1;
}

.linkImage {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* ナビゲーションボタン */
.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px 5px;
  cursor: pointer;
  font-size: 18px;
  z-index:3;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

@media (min-width: 768px) {
  .snsId {
    position: absolute;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 0.5s ease;
    right: 30rem;
  }
  
  
  .twitter:hover .snsId,
  .instagram:hover .snsId,
  .github:hover .snsId  {
    right: 12rem;
    opacity: 1;
  }
}

.window {
  width: 150px;
  height: 100px;
  background-color: #ffffffcc;
  border: 1px solid #ccc;
  border-radius: 12px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
}





/* レスポンシブ対応 */
@media (max-width: 768px) {
  body,html {
    font-size:12px
  }
  .nav-links {
    padding-top: 0rem;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    flex-direction: column;
    position: absolute;
    top: 6rem;
    right: 10%;
    width: 30%;
    z-index:15;
    opacity:0;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
  }

  .nav-links.open {
    display: flex;
    opacity: 1.0;
    pointer-events: auto;
  }

  .hamburger-menu {
    display: flex;
  }

  .button-container {
    grid-template-columns: 1fr;
    height : 40vh;    
  }

  .asaka{
    width:30px;
    height:30px;
  }

  .link-section {
    flex-direction: column;
    align-items: center;
  }

  .snsId {
    display: flex;
    font-size: 1.5rem;
    white-space: nowrap;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
    align-items: center;
    left:50vw;
    text-align: center;
    transform: translate(-50%,3rem);
    pointer-events: none;
  }

  .twitter:hover .snsId,
  .instagram:hover .snsId,
  .github:hover .snsId  {
    opacity: 1;
    transform: translate(-50%,2rem);
  }

  /* Home */
  .home{
    display: block;
    width: 100vw;
  }
  .homeA{
    width: 100%;
    height: 100vh;
  }

  .homeD{
    aspect-ratio: 32/9;
    width: 100%;
  }

  .homeB{
    width: 100%;

  }

  .homeC{
    width: 100%;

  }

  .homeE{
    width: 100%;

  }

  .homeParty{
    width: 100%;
  }
  .homePartybar {
    margin:10px 20px;
  }
}

@media (max-width: 425px) {
  body,html {
    font-size:10px
  }

  .asaka{
    width:30px;
    height:30px;
  }
}