.nowlisten-container {
    font-family: sans-serif;
    padding:2rem;
    text-align: center;
    
  }
  
  .nowlisten-container h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .track-scroll-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 1.5rem;
    padding-bottom: 1rem;
    scrollbar-width: none; /* Firefox */
  }
  
  .track-scroll-container::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }

  .track-card {
    flex: 0 0 auto;
    width: 60vw;
    max-width: 400px;
    height: 60vh;
    background: #fcf1db;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
    padding-bottom: 1rem;
    margin :20px 0;
  }
  
  .track-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .track-card img {
    width: 95%;
    padding-top: 10px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .track-card a {
    display: block;
    font-weight: 600;
    color: #ef767a;
    text-decoration: none;
    margin-top: 0.5rem;
  }
  
  .track-card a:hover {
    text-decoration: underline;
  }
  
  .track-card p {
    margin-top: 0.25rem;
    font-size: 0.9rem;
  }
  
  @media (max-width: 768px) {
    .track-card {
        height: 50vh;
      }
  }